@charset "utf-8";
/* CSS Document */
@import "vendor/normalize.css";

/*Phones Only*/
@media screen and (max-width: 767px){
    html {
  		box-sizing: border-box;
	}
	*, *:before, *:after {
 		 box-sizing: inherit;
    }
   body{
       background-image:url("Assets/space-covered under CC BY NC-2.0.jpg"); 
       position: center;
    }
#wrapper{
    width: 80%;
    background-color: silver;
}
ul{
   
}
li{
   
}
li a{
    
}
header{
    
}
h1{
    
}
#contentmain{
    
}
h2{
    
}
p{
    
}
#newest stuff{
    
}
h3{
    
}
iframe{
    
}
#newstuff{
    
}
h4{
    
}
#newthings{
    
}
#newtimes{
    
}
h5 {
    
}
#oldtimes{
    
}
h6{
    
}
footer{
    
}
}
/* Medium screens and up*/
@media (min-width: 768px) and (max-width:1023px) {
    body{
       background-image: radial-gradient(midnightblue, black); 
       position: center;
       width: 100%;
       height:100%;
       float: center;
    }
#wrapper{
    width:90%;
    background-color: silver;
    float:center;
    margin:0 auto;
    height:100%;
}
    nav{
        background-image:linear-gradient(-45deg,black,midnightblue, black);
        height: 380px;
        width:120px;
        margin: 0 auto;
        float:left;
    }
ul{
        list-style-type: none;
        display:flex;
        flex-flow:column nowrap;
        align-content:center;
        justify-content:space-around;
        width: 100%;
	    height: 50%;
        margin:0 auto;
        padding: 10px;
}
li a{
    color: whitesmoke;
    float: center;
    text-align:center;
   
}
header{
    padding:10px 10px;
    margin: 0 auto; 
    height:50%;
    width:100%;
    background-image:url("Assets/space-covered under CC BY NC-2.0.jpg");
    border:2px black solid;
}
h1{
    
    font-family: "New Rocker";
    color: whitesmoke;
    font-size:75px;
    text-align: center;
    margin:0 auto;
}
#contentmain{
    float:center;
    width:65%;
    height:50%;
    margin:0 auto;
    border:1px,black,solid;
}
#shoutouts{
    float:center;
    width:100%;
    height:50%;
    margin:0 auto;
    border:1px,black,solid;
}
h2{
    height: 100%;
    text-align:center;
    color:whitesmoke;
    font-family: 'Cinzel Decorative';
    font-size:25px;
    background-image:radial-gradient(indigo,midnightblue,black);
    margin: 0 auto;
}
p{
    font-size: 14px;
	text-align: center;
	margin: 10px 10px;
	padding: 0px 20px 0px 20px;
	border: 1px solid black;
}   
#neweststuff{
    width: 65%;
	height: 100%;
	background-color: whitesmoke;
	margin: 0 auto;
	border: 1px black solid;
    float:center;
} 
#newvids{
    width: 50%;
    height: 100%;
    float:left;
    border:1px solid black;
    margin:0 auto;
    background-color:silver;
    
    }
h3{
    height: 20%;
    text-align:center;
    color:whitesmoke;
    font-family: 'Cinzel Decorative';
    font-size:25px;
    background-image:radial-gradient(indigo,midnightblue,black);
    float:center;
    margin: 0 auto;
}
iframe{
    width: 240px;
	height: 160px;
	margin: 10px;
	float: center;
}
#newstuff{
    width: 100%;
	height: 100%;
	border: 1px solid black; 
	margin: 0 auto; 
	background-color: whitesmoke;
    float:center;
	
}
h4{
    height: 20%;
    width: 100%;
    text-align:center;
    color:whitesmoke;
    font-family: 'Cinzel Decorative';
    font-size:25px;
    background-image:radial-gradient( midnightblue, black);
    float:center;
    margin:0 auto;
    
}
#newthings{
   width: 17%;
	height: 100%;
	float: right;
	margin: 0px;
}
#newtimes{
	border: 1px solid black; 
	background-color: whitesmoke;
	float: right;
    width:100%;
    height:50%;
    margin:0 auto;
}
h5 {
    height: 100%;
    text-align:center;
    color:whitesmoke;
    font-family: 'Cinzel Decorative';
    font-size:25px;
    background-image:linear-gradient(-90deg,black, midnightblue);
    margin:0 auto;
    float:center;
}
#oldtimes{
    border: 1px solid black; 
	background-color: whitesmoke;
	float: right;
    height: 50%;
    width:100%;
    margin:0 auto;
}
h6{
    height: 100%;
    text-align:center;
    color:whitesmoke;
    font-family: 'Cinzel Decorative';
    font-size: 25px;
    background-image:linear-gradient(-90deg,black, midnightblue);
    float:center;
    margin: 0 auto;
    
}
footer{
    background-color:black;
    width: 100%;
    height: 20%;
    color:whitesmoke;
    clear: both;
}
}
/* Big screens*/
@media (min-width: 1024px) {
  body{
       background-image: radial-gradient(midnightblue, black); 
       position: center;
       width: 100%;
       height:100%;
       float: center;
    }
#wrapper{
    width:90%;
    background-color: silver;
    float:center;
    margin:0 auto;
    height:100%;
}
    nav{
        background-image:linear-gradient(-45deg,black,midnightblue, black);
        height: 380px;
        width:120px;
        margin: 0 auto;
        float:left;
    }
ul{
        list-style-type: none;
        display:flex;
        flex-flow:column nowrap;
        align-content:center;
        justify-content:space-around;
        width: 100%;
	    height: 50%;
        margin:0 auto;
        padding: 10px;
}
li a{
    color: whitesmoke;
    float: center;
    text-align:center;
   
}
header{
    padding:10px 10px;
    margin: 0 auto; 
    height:50%;
    width:100%;
    background-image:url("Assets/space-covered under CC BY NC-2.0.jpg");
    border:2px black solid;
}
h1{
    
    font-family: "New Rocker";
    color: whitesmoke;
    font-size:75px;
    text-align: center;
    margin:0 auto;
}
#contentmain{
    float:center;
    width:65%;
    height:50%;
    margin:0 auto;
    border:1px,black,solid;
}
#shoutouts{
    float:center;
    width:100%;
    height:50%;
    margin:0 auto;
    border:1px,black,solid;
}
h2{
    height: 100%;
    text-align:center;
    color:whitesmoke;
    font-family: 'Cinzel Decorative';
    font-size:25px;
    background-image:radial-gradient(indigo,midnightblue,black);
    margin: 0 auto;
}
p{
    font-size: 14px;
	text-align: center;
	margin: 10px 10px;
	padding: 0px 20px 0px 20px;
	border: 1px solid black;
}   
#neweststuff{
    width: 64%;
	height: 100%;
	background-color: whitesmoke;
	margin: 0 auto;
	border: 1px black solid;
    float:center;
} 
#newvids{
    width: 50%;
    height: 100%;
    float:left;
    border:1px solid black;
    margin:0 auto;
    background-color:silver;
    
    }
h3{
    height: 20%;
    text-align:center;
    color:whitesmoke;
    font-family: 'Cinzel Decorative';
    font-size:25px;
    background-image:radial-gradient(indigo,midnightblue,black);
    float:center;
    margin: 0 auto;
}
iframe{
    width: 240px;
	height: 160px;
	margin: 10px;
	float: center;
}
#newstuff{
    width: 100%;
	height: 100%;
	border: 1px solid black; 
	margin: 0 auto; 
	background-color: whitesmoke;
    float:center;
	
}
h4{
    height: 20%;
    width: 100%;
    text-align:center;
    color:whitesmoke;
    font-family: 'Cinzel Decorative';
    font-size:25px;
    background-image:radial-gradient( midnightblue, black);
    float:center;
    margin:0 auto;
    
}
#newthings{
   width: 17%;
	height: 100%;
	float: right;
	margin: 0px;
}
#newtimes{
	border: 1px solid black; 
	background-color: whitesmoke;
	float: right;
    width:100%;
    height:50%;
    margin:0 auto;
}
h5 {
    height: 100%;
    text-align:center;
    color:whitesmoke;
    font-family: 'Cinzel Decorative';
    font-size:25px;
    background-image:linear-gradient(-90deg,black, midnightblue);
    margin:0 auto;
    float:center;
}
#oldtimes{
    border: 1px solid black; 
	background-color: whitesmoke;
	float: center;
    height: 50%;
    width:100%;
    margin:0 auto;
}
h6{
    height: 50%;
    width:100%;
    text-align:center;
    color:whitesmoke;
    font-family: 'Cinzel Decorative';
    font-size: 25px;
    background-image:linear-gradient(-90deg,black, midnightblue);
    float:center;
    margin: 0 auto;
    
}
footer{
    background-color:black;
    width: 100%;
    height: 20%;
    color:whitesmoke;
    clear: both;
}
}
